.main
  %h1 Rock Paper Scissors
  %p
    %form{action:"throw"}
      %b Choose wisely:
      %select{name:'user_choice'}
        %option Rock
        %option Paper
        %option Scissors
      = submit_tag 'Throw!'
  - unless flash[:notice].blank?
    %p.flash= flash[:notice]