body
  font-family: Trebuchet MS, Helvetica, sans-serif
  padding-top: 5px
  background-color: white
  background-image: url('assets/slides.jpg')
  background-repeat: no-repeat
a
  text-decoration: none
@font-face
  font-family: Snake
  src: url('fonts/snake.ttf')
$slide-size: 262.5px
$slide-text-width: 230px
.header, .slides
  min-width: $slide-size * 2 + 10
  max-width: $slide-size * 3 + 10
  margin-left: auto
  margin-right: auto
.header
  h1
    font-size: 60px
    color: black
    letter-spacing: 0.2em
    text-shadow: 2px 2px 30px #d0d0d0
.slides
  margin-left: auto
  margin-right: auto
.section
  display: inline-block
  position: relative
  width: $slide-size
  height: $slide-size
  color: rgb(35%, 35%, 35%)
  &:hover
    .info
      display: block
  img.slide
    width: $slide-size
    height: $slide-size
  > div
    position: absolute
    width: $slide-text-width
    left: ($slide-size - $slide-text-width) / 2
    align: center
    vertical-align: middle
  .title, .description
    font-family: Snake, Trebuchet MS, Helvetica, sans-serif
  .title
    top: 5px
    font-size: 3.5em
    text-align: center
  .description
    top: 208px
    font-size: 2em
    line-height: 0.7em
  .info
    display: none
    top: 0px
    left: 0px
    padding: 30px
    width: $slide-size - 60
    height: $slide-size - 60
    background-color: rgba(white, 0.95)
    text-align: justify
    font-size: 1.2em

.stackoverflow
  float: right
  opacity: .9